<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhf56Spt0944AZ0gvrsmXSnFey9ohS1CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>292487896173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ojeomsun.pico.admin</string>
	<key>PROJECT_ID</key>
	<string>picotest-1692c</string>
	<key>STORAGE_BUCKET</key>
	<string>picotest-1692c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292487896173:ios:7b87247fe2bcbc4f0e7364</string>
</dict>
</plist>